In [1]:
import pandas as pd

In [2]:
budget_data = pd.read_csv("PyBank_Resources_budget_data.csv", header=0)
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [ ]:
'''
Your task is to create a Python script that analyzes the records to calculate each of the following:

- The total number of months included in the dataset.

- The net total amount of Profit/Losses over the entire period.

- The average of the changes in Profit/Losses over the entire period.

- The greatest increase in profits (date and amount) over the entire period.

- The greatest decrease in losses (date and amount) over the entire period.

Your resulting analysis should look similar to the following:

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)
'''

In [3]:
total_months = len(budget_data["Date"].unique())

In [27]:
net_profit_loss = budget_data["Profit/Losses"].sum()

In [32]:
net_change = []

for i in range(1,len(budget_data)):
    net = budget_data["Profit/Losses"][i]-budget_data["Profit/Losses"][i-1]
    net_change.append(net)
    
avg_change = round(sum(net_change)/len(net_change),2)

In [33]:
max_profit = max(net_change)
month_max_profit = budget_data.loc[(net_change.index(max_profit)+1)]["Date"]

In [34]:
max_loss = min(net_change)
month_max_loss = budget_data.loc[(net_change.index(max_loss)+1)]["Date"]

In [35]:
print("Financial Analysis")
print("------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${net_profit_loss}")
print(f"Average Change: ${avg_change}")
print(f"Greatest Increase in Profits: {month_max_profit} (${max_profit})")
print(f"Greatest Decrease in Profits: {month_max_loss} (${max_loss})")

Financial Analysis
------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)